@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #f2e9e2;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 30rem 0 30rem;
}

section {
    display: flex;

}

.bitmap {
    border-radius: 20px 0 0 20px;
    height: 470px;
    width: 300px;
}

article {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0 20px 20px 0;
    height: 470px;
    width: 320px;
}

h1 {
    color: #6C7289;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 5px;
    color: #6C7289;
    padding-top: 1rem;
}

h2 {
    width: 245px;
    font-size: 32px;
    font-weight: 700;
    font-family: "Fraunces", serif;
    padding: 2rem 0 1rem 0;

}

.floral {
    font-family: "Montserrat", sans-serif;
    width: 270px;
    font-weight: 500;
    line-height: 24px;
    color: #6C7289;
}

.prix {
    display: flex;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 32px;
    color: #3D8168;
    padding: 1rem 0;
    align-items: center;

}

span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    padding-left: 1rem;
    color: #6C7289;
    text-decoration: line-through;
}

button {
    display: flex;
    font-family: "Montserrat", sans-serif;
    background-color: #3D8168;
    color: white;
    border: none;
    padding: 1rem 4rem;
    border-radius: 7px;
    font-weight: 600;
    margin: auto;

}

button:active {
    background-color: #1A4032;
}

@media screen and (max-width: 362px) {

}